{{ define "main" }}

{{- partial "header.html" . -}}

<div id="map" style="width: 100vw; height: 100vh;"></div>
<script>
    var map = L.map('map').setView([47.33885, 8.05065], 13);

    var Stadia_StamenWatercolor = L.tileLayer('https://tiles.stadiamaps.com/tiles/stamen_watercolor/{z}/{x}/{y}.{ext}', {
        minZoom: 1,
        maxZoom: 16,
        attribution: '&copy; <a href="https://www.stadiamaps.com/" target="_blank">Stadia Maps</a> &copy; <a href="https://www.stamen.com/" target="_blank">Stamen Design</a> &copy; <a href="https://openmaptiles.org/" target="_blank">OpenMapTiles</a> &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        ext: 'jpg'
    }).addTo(map);

    var homeLatLng = L.latLng([47.33885, 8.05065]);
    var home = L.marker(homeLatLng).addTo(map);

    var places = [
        {{ range .Site.RegularPages }}
        {{ if and .Params.coordinates.latitude .Params.coordinates.longitude }}
        [{{ .Params.coordinates.latitude }}, {{ .Params.coordinates.longitude }}]{{ if not (eq (index .Site.RegularPages (sub (len .Site.RegularPages) 1)).Permalink .Permalink) }},{{ end }}
        {{ end }}
        {{ end }}
    ];

    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    var polylines = [];
    var distanceLabels = [];

    places.forEach(function(latlng) {
        var destinationLatLng = L.latLng(latlng);
        var polylineColor = getRandomColor();
        var polyline = L.polyline([homeLatLng, destinationLatLng], {color: polylineColor}).addTo(map);
        polylines.push(polyline);

        var distance = homeLatLng.distanceTo(destinationLatLng) / 1000;
        var labelColor = getRandomColor();
        var backgroundColor = getRandomColor();
        var distanceLabel = L.marker(destinationLatLng, {
            icon: L.divIcon({
                className: 'distance-label',
                html: '<div style="color: ' + labelColor + '; background-color: ' + backgroundColor + '">' + distance.toFixed(2) + ' km</div>',
                iconSize: [100, 40]
            })
        }).addTo(map);
        distanceLabels.push({label: distanceLabel, latlng: destinationLatLng, distance: distance});
    });

    function updatePolylineColors() {
        polylines.forEach(function(polyline, index) {
            var newPolylineColor = getRandomColor();
            polyline.setStyle({ color: newPolylineColor });

            var distanceLabel = distanceLabels[index];
            var newLabelColor = getRandomColor();
            var newBackgroundColor = getRandomColor();
            distanceLabel.label.setIcon(L.divIcon({
                className: 'distance-label',
                html: '<div style="color: ' + newLabelColor + '; background-color: ' + newBackgroundColor + '">' + distanceLabel.distance.toFixed(2) + ' km</div>',
                iconSize: [100, 40]
            }));
        });
    }

    setInterval(updatePolylineColors, 1000); // Ändert die Farben alle 10 Sekunden
</script>

<style>
    .distance-label div {
        padding: 5px;
        border-radius: 3px;
        font-size: 20px;
        text-align: center;
        margin: -8px; /* Ausgleich für das Padding und die Grenze */

    }
</style>

{{ end }}
