{{ define "main" }}

{{- partial "header.html" . -}}

<div id="map" style="width: 100vw; height: 100vh;"></div>
<script src="http://cdn.leafletjs.com/leaflet/v1.7.1/leaflet.js"></script>
<script>
    var map = L.map('map').setView([47.33885, 8.05065], 13);

    var Stadia_StamenWatercolor = L.tileLayer('https://tiles.stadiamaps.com/tiles/stamen_watercolor/{z}/{x}/{y}.{ext}', {
        minZoom: 1,
        maxZoom: 16,
        attribution: '&copy; <a href="https://www.stadiamaps.com/" target="_blank">Stadia Maps</a> &copy; <a href="https://www.stamen.com/" target="_blank">Stamen Design</a> &copy; <a href="https://openmaptiles.org/" target="_blank">OpenMapTiles</a> &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        ext: 'jpg'
    }).addTo(map);

    // Deine Wohnadresse als Startpunkt
    var homeLatLng = L.latLng([47.33885, 8.05065]);
    var home = L.marker(homeLatLng).addTo(map);

    // Koordinaten aus Markdown-Dateien
    var places = [
        {{ range .Site.RegularPages }}
        {{ if and .Params.coordinates.latitude .Params.coordinates.longitude }}
        [{{ .Params.coordinates.latitude }}, {{ .Params.coordinates.longitude }}]{{ if not (eq (index .Site.RegularPages (sub (len .Site.RegularPages) 1)).Permalink .Permalink) }},{{ end }}
        {{ end }}
        {{ end }}
    ];

    // Funktion zur Generierung einer zufälligen Farbe
    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    // Linien zu jedem Zielort zeichnen und Entfernung beschriften
    places.forEach(function(latlng) {
        var destinationLatLng = L.latLng(latlng);
        var polyline = L.polyline([homeLatLng, destinationLatLng], {color: getRandomColor()}).addTo(map);

        // Entfernung berechnen
        var distance = homeLatLng.distanceTo(destinationLatLng) / 1000; // Umrechnung in Kilometer
        var distanceLabel = L.marker(destinationLatLng, {
            icon: L.divIcon({
                className: 'distance-label',
                html: distance.toFixed(2),
                iconSize: [100, 40]
            })
        }).addTo(map);
    });
</script>

<style>
    .distance-label {
        background-color: white;
        padding: 5px 2px;
        border-radius: 3px;
        border-color: black;
        border-style: dashed;
        font-size: 20px;
        text-align: center;
    }
</style>

{{ end }}
