{{ define "main" }}
{{- partial "header.html" . -}}

<canvas id="meinLiniendiagramm" width="400px" height="400px"></canvas>
    {{ $jahresNaechte := dict }}
    {{ $plaetzeProJahr := dict }}
    {{ $platzartenProJahr := dict }}

    {{ range .Site.RegularPages }}
    {{ $jahr := .Date.Format "2006" }}
    {{ if and .Params.anzahl_naechte (not .Draft) }}
    {{ $aktuelleNaechte := add (index $jahresNaechte $jahr | default 0) .Params.anzahl_naechte }}
    {{ $jahresNaechte = merge $jahresNaechte (dict $jahr $aktuelleNaechte) }}

    {{ if ge .Params.anzahl_naechte 1 }}
    {{ $aktuellePlaetze := add (index $plaetzeProJahr $jahr | default 0) 1 }}
    {{ $plaetzeProJahr = merge $plaetzeProJahr (dict $jahr $aktuellePlaetze) }}
    {{ end }}

    {{ $artDesPlatzes := .Params.art_des_platzes }}
    {{ if $artDesPlatzes }}
    {{ $jahresPlatzarten := index $platzartenProJahr $jahr | default (dict) }}
    {{ $aktuellePlatzartAnzahl := add (index $jahresPlatzarten $artDesPlatzes | default 0) 1 }}
    {{ $jahresPlatzarten = merge $jahresPlatzarten (dict $artDesPlatzes $aktuellePlatzartAnzahl) }}
    {{ $platzartenProJahr = merge $platzartenProJahr (dict $jahr $jahresPlatzarten) }}
    {{ end }}

    {{ end }}
    {{ end }}

    {{ range $jahr, $naechte := $jahresNaechte }}
    {{ $plaetze := index $plaetzeProJahr $jahr | default 0 }}
    {{ $platzarten := index $platzartenProJahr $jahr | default (dict) }}

    {{ end }}
    <script>
        var ctx = document.getElementById('meinLiniendiagramm').getContext('2d');
        
        // Arrays für die Daten
        var jahre = [];
        var naechte = [];
        var plaetze = [];
        var campingplaetze = []; // Array für Campingplätze
        var stellplaetze = [];   // Array für Stellplätze
        
        // Füge hier weitere Arrays für zusätzliche Daten hinzu, falls benötigt
        
        {{ range $jahr, $nacht := $jahresNaechte }}
        jahre.push("{{ $jahr }}");
        naechte.push({{ $nacht }});
        plaetze.push({{ index $plaetzeProJahr $jahr | default 0 }});
        
        // Füge hier weitere Datensätze hinzu, falls benötigt
        // Daten für jede Platzart
        {{ $platzarten := index $platzartenProJahr $jahr | default (dict) }}
        campingplaetze.push({{ index $platzarten "Campingplatz" | default 0 }});
        stellplaetze.push({{ index $platzarten "Stellplatz" | default 0 }});
        {{ end }}
        
        var chartData = {
            labels: jahre,
            datasets: [{
                label: 'Anzahl der Nächte',
                data: naechte,
                borderColor: 'rgba(0, 123, 255, 1)',
                fill: false,
            }, {
                label: 'Anzahl der Plätze',
                data: plaetze,
                borderColor: 'rgba(255, 99, 132, 1)',
                fill: false
            },
            {
                label: 'Anzahl der Campingplätze',
                data: campingplaetze,
                borderColor: 'rgba(54, 162, 235, 1)',
                fill: false
            },
            {
                label: 'Anzahl der Stellplätze',
                data: stellplaetze,
                borderColor: 'rgba(75, 192, 192, 1)',
                fill: false
            }
            // Füge hier weitere Datensätze für andere Platzarten hinzu
        ]
    };
    
        var meinLiniendiagramm = new Chart(ctx, {
            type: 'line',
            data: chartData,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                animation: {
                    duration: 10000, // Dauer in Millisekunden
                    easing: 'easeInOutQuart', // Easing-Typ
                    onProgress: function(animation) {
                        console.log(animation.currentStep / animation.numSteps);
                    },
                    onComplete: function() {
                        console.log('Animation completed!');
                    }
                }
            }
        });
    </script>
    
    

{{ end }}
