{{ define "body_class" }} post-template {{ end }}

{{ define "main" }}

{{- partial "header.html" . -}}

<main class="record">
    <article>
        <div class="dropdown-wrapper">
            <select id="yearFilter">
                <option value="all">Alle Jahre</option>
                {{ $pages := where .Site.RegularPages "Type" "default" }}
                {{ $years := slice }}
                {{ range $pages }}
                    {{ $dateStr := .Date.Format "2006" }}
                    {{ $years = $years | append $dateStr }}
                {{ end }}
                {{ $uniqueYears := sort (uniq $years) }}
                {{ range $uniqueYears }}
                <option value="{{ . }}">{{ . }}</option>
                {{ end }}
            </select>
            <span style="padding-right:10px;"></span>
            <label class="switch" for="clusterToggle">
            <input type="checkbox" id="clusterToggle" checked>
            <span></span>
            <p style="margin-top:10px;">Clustern:</p>
            </label>
        </div>
        <div class="container">
            <div class="box">
                <div id="mapid" style="width: 90vw; height: 70vh;"></div>
                <script>
                    var map = L.map('mapid').setView([46.8, 8.23], 5);
                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 20,
                        attribution: '© OpenStreetMap'
                    }).addTo(map);
                    map.addControl(new L.Control.Fullscreen());

                    var markerClusterGroup = L.markerClusterGroup();
                    var individualMarkers = [];

                    var mapMarkers = [
                        {{ range $pages }}
                        {
                            "name": {{ .Title | jsonify }},
                            "latitude": {{ .Params.coordinates.latitude }},
                            "longitude": {{ .Params.coordinates.longitude }},
                            "marker_icon": {{ .Params.marker_icon | relURL }},
                            "url": {{ .Permalink }},
                            "year": "{{ .Date.Format "2006" }}"
                        },
                        {{ end }}
                    ];

                    mapMarkers.forEach(function(markerData) {
                        var customIcon = L.icon({
                            iconUrl: markerData.marker_icon,
                            iconSize: [32, 32],
                            iconAnchor: [16, 32],
                            popupAnchor: [0, -32]
                        });
                        var markerInstance = L.marker([markerData.latitude, markerData.longitude], { icon: customIcon })
                            .bindPopup('<a href="' + markerData.url + '">' + markerData.name + '</a>');
                        markerInstance.year = markerData.year; // Speichere das Jahr direkt im Marker
                        markerClusterGroup.addLayer(markerInstance);
                        individualMarkers.push(markerInstance);
                    });

                    function updateMarkers() {
                        var selectedYear = document.getElementById('yearFilter').value;
                        var isClustering = document.getElementById('clusterToggle').checked;
                        markerClusterGroup.clearLayers();
                        individualMarkers.forEach(function(marker) {
                            map.removeLayer(marker);
                        });

                        individualMarkers.forEach(function(markerInstance) {
                            if (selectedYear === "all" || markerInstance.year === selectedYear) {
                                if (isClustering) {
                                    markerClusterGroup.addLayer(markerInstance);
                                } else {
                                    map.addLayer(markerInstance);
                                }
                            }
                        });

                        if (isClustering) {
                            map.addLayer(markerClusterGroup);
                        } else {
                            map.removeLayer(markerClusterGroup);
                        }
                    }

                    document.getElementById('yearFilter').addEventListener('change', updateMarkers);
                    document.getElementById('clusterToggle').addEventListener('change', updateMarkers);

                    updateMarkers(); // Initial update call
                </script>
                <script src="/js/leaflet.js"></script>
            </div>
        </div>
    </article>
</main>

{{ end }}
