{{ define "body_class" }} post-template {{ end }}

{{ define "main" }}

{{- partial "header.html" . -}}
<main class="record">
    <article>
        <div class="container">
            <!-- Full-width box -->
            <div class="box">
                <div id="mapid" style="height: 400px;"></div> <!-- Stelle sicher, dass die Karte eine Höhe hat -->
                <script>
                    var mapMarkers = [
                        {{ range .Site.RegularPages }}
                            {{ if eq .Type "default" }}  
                                {
                                    "name": "{{ .Title | jsonify }}",
                                    "latitude": {{ .Params.coordinates.latitude }},  
                                    "longitude": {{ .Params.coordinates.longitude }},  
                                    "marker_icon": "{{ .Params.marker_icon | relURL }}",
                                    "url": "{{ .Permalink }}"
                                },
                            {{ end }}
                        {{ end }}
                    ];
                    var mapElement = document.getElementById('mapid');
                    if (mapElement) {
                        mapElement.dataset.markers = JSON.stringify(mapMarkers);
                    }

                    // Initialisiere die Leaflet-Karte
                    var map = L.map('mapid').setView([46.8, 8.23], 5);

                    // Füge TileLayer hinzu
                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 20,
                        attribution: '© OpenStreetMap'
                    }).addTo(map);

                    // Füge Fullscreen Control hinzu
                    map.addControl(new L.Control.Fullscreen());

                    var markersData = JSON.parse(mapElement.dataset.markers);
                    markersData.forEach(function(marker) {
                        var customIcon = L.icon({
                            iconUrl: marker.marker_icon,
                            iconSize: [32, 32],
                            iconAnchor: [16, 32],
                            popupAnchor: [0, -32]
                        });

                        L.marker([marker.latitude, marker.longitude], { icon: customIcon })
                            .addTo(map)
                            .bindPopup('<a href="' + marker.url + '">' + marker.name + '</a>');
                    });

                    
                </script>
                <script src="/js/leaflet.js"></script>
            </div>
        </div>
    </article>
</main>


{{ end }}