{{ define "body_class" }} post-template {{ end }} {{ define "main" }} {{-
partial "header.html" . -}}
<main class="record">
  <article>
    <div class="grid-container">
      <div class="grid-item box1">
            {{ $anzahlPlaetze := 0 }} {{ range .Site.RegularPages }} {{ if and
            (isset .Params "anzahl_naechte") (ge (.Params.anzahl_naechte) 1) }} {{
            $anzahlPlaetze = add $anzahlPlaetze 1 }} {{ end }} {{ end }}
            <p class="boxicon"><i class="fa-solid fa-map-location-dot"></i></p>
            <p class="numberanimation">{{ $anzahlPlaetze }}</p>
            <div class="legend">Besuchte Plätze</div>
      </div>
      <div class="grid-item box2">
            {{ $gesamtNaechte := 0 }} {{ range .Site.RegularPages }} {{ if isset
            .Params "anzahl_naechte" }} {{ $gesamtNaechte = add $gesamtNaechte
            .Params.anzahl_naechte }} {{ end }} {{ end }}
            <p class="boxicon"><i class="fa-solid fa-bed"></i></p>
            <p class="numberanimation">{{ $gesamtNaechte }}</p>
            <div class="legend">Total Übernachtungen</div>
      </div>
      <div class="grid-item box3">
        {{ $gesamtPlatzarten := dict }}
        {{ $platzartIcons := dict 
            "Campingplatz" "fa-campground" 
            "Stellplatz" "fa-van-shuttle" 
            "Parkplatz" "fa-parking" 
        }}
        
        {{ range .Site.RegularPages }}
        {{ if and (isset .Params "anzahl_naechte") (gt .Params.anzahl_naechte 0) }}
        {{ $artDesPlatzes := .Params.art_des_platzes }}
        {{ if $artDesPlatzes }}
        {{ $aktuellePlatzartAnzahl := add (index $gesamtPlatzarten $artDesPlatzes | default 0) 1 }}
        {{ $gesamtPlatzarten = merge $gesamtPlatzarten (dict $artDesPlatzes $aktuellePlatzartAnzahl) }}
        {{ end }}
        {{ end }}
        {{ end }}
    
        {{ $stellplatzAnzahl := index $gesamtPlatzarten "Stellplatz" }}
        
        {{ range $platzart, $anzahl := $gesamtPlatzarten }}
        {{ if ne $platzart "Stellplatz" }}
            <p class="boxicon"><i class="fa {{ index $platzartIcons $platzart | default "fa-question-circle" }}"></i></p>
            <p class="numberanimation">{{ $anzahl }}</p>
        
        {{ end }}
        {{ end }}
        <div class="legend">Total Campingplätze</div>
    </div>
    <div class="grid-item box31">
        {{ if isset $gesamtPlatzarten "Stellplatz" }}
        
            <p class="boxicon"><i class="fa {{ index $platzartIcons "Stellplatz" }}"></i></p>
            <p class="numberanimation">{{ $stellplatzAnzahl }}</p>
            <div class="legend">Total Stellplätze</div>
        
        {{ end }}
    </div>
    
      <div class="grid-item box4" id="meineKarte" style="height: 400px;">
        <script>    
            document.addEventListener('DOMContentLoaded', function() {
                var meineKarte = L.map('meineKarte').setView([48.5260, 15.2551], 4);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 18,
                }).addTo(meineKarte);

                var besuchteLaender = [
                    {{ range $land, $info := .Site.Data.stats }}
                    { code: "{{ $info.country_code | upper }}", besuche: {{ $info.Besuche }} },
                    {{ end }}
                ];

                function landBesucht(landCode) {
                    return besuchteLaender.some(function(l) { return l.code === landCode; });
                }

                function besuchteLaenderAnzahl(landCode) {
                    var land = besuchteLaender.find(function(l) { return l.code === landCode; });
                    return land && land.besuche !== undefined ? land.besuche : 0;
                }

                meineKarte.on('zoomend', function() {
                var zoomLevel = meineKarte.getZoom(); // Aktuelle Zoomstufe abrufen
                console.log('Aktuelle Zoomstufe:', zoomLevel);
            });

                $.getJSON('https://raw.githubusercontent.com/MichiMauch/country_capital-cities_coordinates_iso2-3/main/countries-capitalcities-coordinates-iso2-3.geojson', function(capitalCitiesData) {
                var capitalCities = {};
                capitalCitiesData.features.forEach(function(feature) {
                    var countryIsoCode = feature.properties.ISO2; // Verwende ISO2 in Großbuchstaben
                    var capitalCityCoordinates = [feature.properties.Latitude, feature.properties.Longitude]; // Korrekte Reihenfolge: [Latitude, Longitude]
                    capitalCities[countryIsoCode] = capitalCityCoordinates;
                    console.log('Hauptstadt geladen:', countryIsoCode, capitalCityCoordinates);
                });

                    // Funktionen für Hover-Effekt
                    function highlightFeature(e) {
                        var layer = e.target;
                        layer.setStyle({
                            fillColor: "#FFEDA0", // Farbe beim Hover
                            fillOpacity: 0.7,
                            color: "#9CB58B",
                            weight: 2
                        });
                    }

                    function resetHighlight(e) {
                        var layer = e.target;
                        if (landBesucht(layer.feature.properties.iso_a2)) {
                            // Zurücksetzen auf Stil für besuchte Länder
                            layer.setStyle({
                                fillColor: "#ADD19E",
                                fillOpacity: 0.6,
                                color: "#9CB58B",
                                weight: 2
                            });
                        } else {
                            // Zurücksetzen auf Standardstil
                            layer.setStyle({
                                fillColor: "#000000",
                                fillOpacity: 0.1,
                                color: "#9CB58B",
                                weight: 1
                            });
                        }
                    }

                    // Länderdaten hinzufügen
                    $.getJSON('https://d2ad6b4ur7yvpq.cloudfront.net/naturalearth-3.3.0/ne_50m_admin_0_countries.geojson', function(data) {
                        L.geoJson(data, {
                            onEachFeature: function(feature, layer) {
                                var isoCode = feature.properties.iso_a2;
                                if (isoCode && landBesucht(isoCode)) {
                                    layer.setStyle({
                                        fillColor: "#ADD19E",
                                        fillOpacity: 0.6,
                                        color: "#9CB58B",
                                        weight: 2
                                    });

                                    if (capitalCities[isoCode]) {
                                        var capitalCoords = capitalCities[isoCode];
                                        console.log('Marker Koordinaten:', capitalCoords);
                                        var customIcon = L.divIcon({
                                            html: `<img src="/${isoCode.toLowerCase()}.svg" style="width: 32px; height: 32px;">`,
                                            iconSize: [32, 32],
                                            iconAnchor: [16, 16],
                                            popupAnchor: [0, -24]
                                        });
                                        L.marker(capitalCoords, { icon: customIcon }).addTo(meineKarte)
                                            .bindPopup(`${feature.properties.name} Besuche: ${besuchteLaenderAnzahl(isoCode)}`);
                                        console.log('Marker gesetzt für:', isoCode, capitalCoords);
                                    } else {
                                        console.log('Keine Hauptstadtdaten für:', isoCode);
                                    }

                                    // Hinzufügen der Hover-Ereignisse
                                    layer.on({
                                        mouseover: highlightFeature,
                                        mouseout: resetHighlight
                                    });

                                } else {
                                    layer.setStyle({
                                        fillColor: "#000000",
                                        fillOpacity: 0.1,
                                        color: "#9CB58B",
                                        weight: 1
                                    });
                                }
                            }
                        }).addTo(meineKarte);
                    });

                });
            });

            </script>
      </div>
      <div class="grid-item box5">
        {{ $jahresNaechte := dict }}
        {{ $plaetzeProJahr := dict }}
        {{ $platzartenProJahr := dict }}

        {{ range .Site.RegularPages }}
        {{ $jahr := .Date.Format "2006" }}
        {{ if and .Params.anzahl_naechte (not .Draft) }}
        {{ $aktuelleNaechte := add (index $jahresNaechte $jahr | default 0) .Params.anzahl_naechte }}
        {{ $jahresNaechte = merge $jahresNaechte (dict $jahr $aktuelleNaechte) }}

        {{ if ge .Params.anzahl_naechte 1 }}
        {{ $aktuellePlaetze := add (index $plaetzeProJahr $jahr | default 0) 1 }}
        {{ $plaetzeProJahr = merge $plaetzeProJahr (dict $jahr $aktuellePlaetze) }}
        {{ end }}

        {{ $artDesPlatzes := .Params.art_des_platzes }}
        {{ if $artDesPlatzes }}
        {{ $jahresPlatzarten := index $platzartenProJahr $jahr | default (dict) }}
        {{ $aktuellePlatzartAnzahl := add (index $jahresPlatzarten $artDesPlatzes | default 0) 1 }}
        {{ $jahresPlatzarten = merge $jahresPlatzarten (dict $artDesPlatzes $aktuellePlatzartAnzahl) }}
        {{ $platzartenProJahr = merge $platzartenProJahr (dict $jahr $jahresPlatzarten) }}
        {{ end }}

        {{ end }}
        {{ end }}

        {{ range $jahr, $naechte := $jahresNaechte }}
        {{ $plaetze := index $plaetzeProJahr $jahr | default 0 }}
        {{ $platzarten := index $platzartenProJahr $jahr | default (dict) }}

        {{ end }}
       
        <table>
            <tr>
                <th></th>
                <th><i class="fa-solid fa-bed"></i></th>
                <th><i class="fa fa-campground"></i></th>
                <th><i class="fa fa-van-shuttle"></i></th>
                <th><i class="fa-solid fa-map-location-dot"></i></th>
            </tr>
            {{ range $jahr, $naechte := $jahresNaechte }}
            <tr>
                <td><b>{{ $jahr }}</b></td>
                <td>{{ $naechte }}</td>
                {{ $platzarten := index $platzartenProJahr $jahr | default (dict) }}
                <td>{{ index $platzarten "Campingplatz" | default 0 }}</td>
                <td>{{ index $platzarten "Stellplatz" | default 0 }}</td>
                <td>{{ index $plaetzeProJahr $jahr | default 0 }}</td>
            </tr>
            {{ end }}
        </table>

      </div>
    </div>
  </article>
</main>

{{ end }}
