{{ define "body_class" }} post-template {{ end }}

{{ define "main" }}

{{- partial "header.html" . -}}

<div class="listcontainer">
    {{ range where .Site.RegularPages "Section" "plaetze" }}
    <div class="listbox">
        <a href="{{ .Permalink }}"><div class="zoomable-background" style="background-image: url('{{ .Site.BaseURL }}/{{ .Params.cover }}')"></div></a>
        <H2><a href="{{ .Permalink }}">{{ .Title }}</a></H2>
        <p><a href="{{ .Permalink }}"><i class="fa-regular fa-calendar"></i> {{ .Params.aufenthalt_von_bis }}</a></p>
    </div>
    {{ end }}
</div>

{{ end }}
