:root {

  /* Set sans-serif & mono fonts */
  --sans-font: "Droid Sans", Arial, Helvetica, "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  /* Body font size. By default, effectively 18.4px, based on 16px as 'root em' */
  --base-fontsize: 1rem;

  /* Major third scale progression - see https://type-scale.com/ */
  --header-scale: 1.25;

  /* Line height is set to the "Golden ratio" for optimal legibility */
  --line-height: 1.618;

  /* Default (light) theme */
  /* inverted both becase I prefer dark theme by default */
  --bg: #212121;
  --bg-transparent: #2f2f2f41;
  --bg-album-transparent: #2f2f2fe5;
  --bg-genres: #0d517e;
  --accent-bg: #2B2B2B;
  --text: #000000;
  --text-light: #ABABAB;
  --border: #666;
  --accent: #0099ff;
  --accent-light: #FFECB3;
  --code: #F06292;
  --preformatted: #CCC;
  --disabled: #111;
  --link-genres: #fff;
  --link-color: #0d517e;
  --header-title-color: #fff;
  --nav-a-color: #fff;
  --nav-a-accent-bg: #666;
  --bg-header-elements: #b4b4b438;
  --footer-text-color: #fff;
  --bg-album-card: #F0F0F0;
  ;

}

/* main body */
html {
  /* Set the font globally */
  font-family: var(--sans-font);
  font-size: var(--base-fontsize);
}

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Basic styling */
body {
  color: var(--color);
  background: linear-gradient(to bottom, #4a7c59, #9c8265);

}

header {
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header h1 {
  margin-bottom: 0.5rem;
  display: block;
  padding: 0.5rem;
  color: var(--header-title-color);
  /*background-color: var(--bg-header-elements);*/
  background-color: rgba(255, 255, 255, 0.2);
}

nav a:link,
a:visited {
  text-decoration: none;
  color: var(--nav-a-color);
  display: inline-block;
  margin: 0.4rem;
  padding: 0.5rem;
  border: 1px solid var(--nav-a-color);
  background-color: var(--bg-header-elements);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  background-color: var(--nav-a-accent-bg);
}

main {
  padding: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  main {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }

}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
  main {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }
}


/* common */

a.genres:link,
a.genres:visited {
  text-decoration: none;
  padding: 0.3rem;
  background-color: var(--bg-genres);
  color: var(--link-genres);
  transition: all 0.3s ease;
  display: inline-block;
  margin: 0.1rem;
  margin-top: 8px;
}

a.genres:hover {
  background-color: var(--accent);
}

a.album-info:link,
a.album-info:visited {
  text-decoration: none;
  padding: 0.3rem;
  border: 1px solid var(--bg-genres);
  border-radius: 5px;
  color: var(--bg-genres);
  transition: all 0.3s ease;
  display: inline-block;
  font-size: smaller;
  padding-bottom: 10px;
}

a.album-info:hover {
  color: var(--accent);
  border-color: var(--accent);
}

ul>li {
  list-style-type: none;
  font-size: smaller;
  margin: 0.1rem;
}

/* album list page */

main.album-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 692px) {
  .album-card {
    flex: 50%;
  }

}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .album-card {
    flex: 100%;
    background-position: top;
    padding-left: 0.1rem;
    padding-top: 255px;
    min-height: auto;
  }
}

a.album-artist:link,
a.album-artist:visited {
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  transition: color 0.3s ease;
  display: block;
  border-bottom: 1px solid black;
  text-transform: uppercase;
  color: var(--link-color);
  padding-left: 8px;
  padding-bottom: 10px;
}

a.album-artist:hover {
  color: var(--accent)
}

a.album-title:link,
a.album-title:visited {
  text-decoration: none;
  font-size: x-large;
  font-weight: bold;
  transition: color 0.3s ease;
  display: block;
  color: var(--link-color);
  padding-top: 10px;
  padding-left: 8px;

}

a.album-title:hover {
  color: var(--accent)
}

p.album-genres {
  font-size: small;
  margin: 0.5rem;
}


/* album display page */

section.record {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

section.record>div {
  flex: 25%;
  margin: 1rem;
  /* border: 1px solid black; */
}

section.record>div>p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

section.record>div>ul>li {
  list-style-type: none;
}

section.record>div>h1 {
  border-bottom: 1px solid var(--link-color);
  margin-bottom: 0.1rem;
}

section.record>div>h2 {
  border-bottom: 1px solid var(--link-color);
  margin-bottom: 1rem;
}

section.record>div>h1.album-title {
  font-size: xx-large;
}


section.record-pictures {
  flex: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.record-pictures {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-around;*/
  /* oder space-between für Ausrichtung mit Zwischenräumen */
  gap: 10px;
  /* Abstand zwischen den Bildern */
}

.record-pictures a {
  flex: 1 0 200px;
  /* Bilder fangen bei 200px an und wachsen mit dem Container, ohne zu schrumpfen */
  max-width: calc(33.33% - 10px);
  /* für drei Bilder pro Zeile, abzüglich des gaps */
  box-sizing: border-box;
}

.record-pictures img {
  width: 200px;
  /* Breite des Thumbnails */
  height: 200px;
  /* Höhe des Thumbnails */
  object-fit: cover;
  /* Stellt sicher, dass das Bild das Element füllt, ohne das Seitenverhältnis zu verzerren */
  border-radius: 5px;
  /* Optional, für abgerundete Ecken */
  margin-bottom: 1rem;
  margin-right: 1rem;
  /* Abstand nach unten für jedes Thumbnail */
}

/* Wenn du eine leichte Hover-Animation hinzufügen möchtest */
.record-pictures a:hover img {
  opacity: 0.7;
  /* Macht das Bild beim Drüberfahren ein wenig transparent */
}

section.record-pictures summary {
  margin-bottom: 1rem;
  font-size: larger;
}

section.content {
  flex: 100%;
  /*padding: 1rem;
  border: 1px solid var(--border);*/
}

section.content p {
  margin-bottom: 1rem;
}

a.record-artist:link,
a.record-artist:visited {
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  transition: color 0.3s ease;
  text-transform: uppercase;
  color: var(--link-color);
}

a.record-artist:hover {
  color: var(--accent)
}

/* footer */

footer {
  color: var(--footer-text-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2rem;
  font-size: smaller;
}

footer a:link,
a:visited {
  color: var(--nav-a-color);
}

footer a:hover {
  text-decoration: none;
}


* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Fügt einen Abstand zwischen den Boxen hinzu */

}

.box {
  flex-basis: calc(50% - 40px);
  /* Adjust for padding and border */
  flex-grow: 1;
  margin: 10px;
  border: #000 1px solid;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
  background-color: #F0F0F0;
  padding-top: 0px;
  overflow: hidden;

}

.box .my-image-class {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  vertical-align: top;
}

.box-with-padding {
  padding: 0px 10px 10px 10px;
}

.box-with-padding p {
  margin-bottom: 6px;
  /* Abstand nach unten; pass den Wert nach Bedarf an */
}

/* Erhöht den Abstand für das erste <p> Element nach oben */
.box-with-padding p:first-of-type {
  margin-top: 20px;
  /* Pass diesen Wert nach Bedarf an */
}

/* Erhöht den Abstand für das letzte <p> Element nach unten */
.box-with-padding p:last-of-type {
  margin-bottom: 20px;
  /* Pass diesen Wert nach Bedarf an */
}

.full-width {
  position: relative;
  flex-basis: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  /* For spacing between the full-width box and the rest */
}



.platz-title {
  margin-bottom: 10px;
}

.full-width-title {
  width: calc(100% + 20px);
  margin-left: -10px;
  margin-right: -10px;
  background-color: #ADD19E;
  padding: 10px 10px 10px 10px;
}


@media (max-width: 768px) {
  .full-width::after {
    width: 100%;
  }

  .box,
  .full-width {
    flex-basis: calc(100% - 40px);
  }
}

#mapid {
  height: 400px;
  border-radius: 10px;
}

#mapid .leaflet-control {
  border-radius: 10px;
}

.staydate {
  font-size: 1em;
  padding-top: 10px;
  padding-left: 8px;
  margin-top: auto; /* Drückt das Datum an den unteren Rand */
}

/* Dropdown-Button-Stil */
.nav-dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  position: relative;
  display: inline-block;
}

/* Dropdown-Inhalte initial verstecken und links ausrichten */
.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #ADD19E;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
}

/* Dropdown-Link-Stile */
.dropdown-content a {
  color: var(--nav-a-color);
  padding: 0.5rem;
  text-decoration: none;
  display: block;
  border: none;
  /* Kein Rand für Dropdown-Links, es sei denn, du möchtest einen */
  margin: 0;
  /* Kein Außenabstand für Dropdown-Links */
  transition: background-color 0.3s ease-in-out;
  display: block;

}

/* Zeige Dropdown-Inhalte beim Hover über den Dropdown-Button an */
.nav-dropdown:hover .dropdown-content {
  display: block;
}

/* Hover-Stil für Dropdown-Links */
.dropdown-content a:hover {
  background-color: var(--nav-a-accent-bg);
}

.legend {
  font-size: 1rem;
  color: #6c757d;
}

.legend {
  display: inline-block;
  overflow: hidden;
  border-right: .15em solid #ADD19E;
  white-space: nowrap;
  letter-spacing: .15em;
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* Animation für den Schreibeffekt */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* Animation für den blinkenden Cursor */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: #ADD19E;
  }
}


.boxcentered {
  flex-basis: calc(33% - 40px);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  border: #000 1px solid;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
  padding: 20px;
  overflow: hidden;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../mapbackground.jpg');
  background-size: cover;
  background-position: center;
  color: #000;
}
.boxcentered2 {
  flex-basis: calc(49% - 40px);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  border: #000 1px solid;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../mapbackground.jpg');
  background-size: cover;
  background-position: center;
  color: #000;
}

@media (max-width: 768px) {

  /* 768px ist ein gängiger Breakpoint für Tablets und mobile Geräte */
  .boxcentered {
    flex-basis: 100%;
    /* Boxen nehmen auf kleinen Bildschirmen die volle Breite ein */
    margin: 10px 0;
    /* Anpassung der Seitenränder, falls nötig */
  }
}

.boxicon {
  font-size: 3rem;
  color: #ADD19E;
  margin-bottom: 5px;

  /* Färbt das Icon grün */

}

@keyframes growAndSpin {
  0% {
    transform: scale(0.2) rotate(1800deg);
    /* Beginnt unsichtbar und ohne Drehung */
    opacity: 0;
  }

  100% {
    transform: scale(1) rotate(3600deg);
    /* Endet in voller Größe und nach 10 vollständigen Drehungen */
    opacity: 1;
  }
}

.numberanimation {
  animation: growAndSpin 2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  font-size: 5rem;
  color: black;
}
.numberanimation-mini {
  animation: growAndSpin 2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  font-size: 4rem;
  color: black;
  padding-left: 20px;
}

.year-stats {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
  /* Fügt rechts von jedem stats-item einen Abstand von 20px hinzu */
}

.stats-item:last-child {
  margin-right: 0;
  /* Entfernt den rechten Abstand vom letzten Element, um unnötigen Abstand am Rand zu vermeiden */
}

.boxiconstat {
  font-size: 2rem;
  color: #ADD19E;
  margin-bottom: 5px;
  /* Färbt das Icon grün */

}

.year,
.places,
.nights {
  font-size: xx-large;
}

.listcontainer {
  display: flex;
  flex-wrap: wrap;
}

.listbox {
  flex: 0 0 25%; /* Jede Box nimmt 25% der Breite ein */
  height: 300px; /* Höhe auf Desktop */
  border: 0;
  padding: 15px; /* Fügt Padding zur gesamten Box hinzu */
  box-sizing: border-box;
  position: relative;
  background-repeat: no-repeat; /* Verhindert das Wiederholen des Bildes */
  background-position: center; /* Zentriert das Bild in der Box */
  background-size: cover; /* Startgröße des Bildes */
  overflow: hidden; /* Verhindert, dass das Hintergrundbild über die Grenzen hinausgeht */
}
.zoomable-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Stellt sicher, dass das Hintergrundbild hinter den anderen Elementen liegt */
}

.listbox h2, .listbox p {
  position: relative;
  z-index: 2; /* Stellt sicher, dass der Text über dem Hintergrundbild liegt */
}

.listbox:hover .zoomable-background {
  transform: scale(1.1);
}

/* Media Query für Mobilgeräte */
@media (max-width: 600px) {
  .listbox {
    flex: 0 0 100%; /* Setzt die Flex-Basis auf 100% der Breite */
    width: 100%; /* Setzt die Breite auf 100% */
    height: 300px; /* Höhe auf Mobilgeräten */

  }
}

.listbox p {
  position: absolute;
  bottom: 0;
  background-color: rgba(80, 147, 146, 0.7); /* Setzt die halbtransparente Hintergrundfarbe */
  color: white; /* Schriftfarbe auf Weiß setzen */
  text-align: center; /* Zentriert den Text */
  margin: 0 -15px; /* Erweitert den Hintergrund nach links und rechts bis an den Rand */
  padding: 10px 15px; /* Setzt Padding für oben und unten sowie für die Seiten */
  justify-content: center; /* Zentriert Inhalt horizontal */
    align-items: center; /* Zentriert Inhalt vertikal */
}

.listbox h2 {
  text-align: center; /* Zentriert den Text horizontal */
  background-color: rgba(80, 147, 146, 0.6); /* Setzt die halbtransparente Hintergrundfarbe */
  text-align: center;
  margin: -15px -15px; /* Setzt negative Margin für links und rechts */
  padding: 10px 15px; /* Setzt Padding für alle Seiten */
}

.listbox h2 a:link,
.listbox h2 a:visited,
.listbox h2 a:hover,
.listbox h2 a:active,
.listbox h2 a:focus {
    color: white; /* Setzt die Schriftfarbe auf Weiß */
    text-decoration: none; /* Optional: Entfernt die Unterstreichung */
    /* Weitere Stile für das Link-Element, falls nötig */
}

.listbox a, .listbox a:visited, .listbox a:hover, .listbox a:active {
  color: white;
  text-decoration: none; /* Optional: Entfernt die Unterstreichung */
}

.dropdown-wrapper {
  display: flex;
  justify-content: center; /* Zentriert das Dropdown und Icon horizontal */
  align-items: center; /* Zentriert das Dropdown und Icon vertikal */
  margin: 0 auto; /* Zusätzliche Zentrierung, falls benötigt */
  position: relative;
}

#yearFilter {
  font-size: 16px; /* Passt die Schriftgröße an */
  border-radius: 10px; /* Macht die Ecken des Dropdown-Menüs rund */
  padding: 5px 8px; /* Fügt innen etwas Abstand hinzu */
  padding-right: 25px;
  height: 48px;
}

.icons-container {
  display: flex;
  align-items: center; /* Zentriert die Icons vertikal, falls nötig */
}

.platzart {
  display: flex;
  align-items: center; /* Zentriert die Elemente vertikal */
}

.platzart .boxicon, .platzart .numberanimation {
  margin-right: 10px; /* Fügt einen Abstand zwischen den Elementen hinzu */
}
.platzart .numberanimation {
  font-size: 1.5em; /* Oder einen anderen Wert, je nach Bedarf */
}
.platzart .boxicon i {
  font-size: 0.7em; /* Direkte Größenanpassung */
}

@media (max-width: 600px) {
  .year-stats:not(:last-child):after {
      content: "";
      display: block;
      margin: 10px 0; /* Stellt den Abstand oben und unten der Linie ein */
      height: 1px; /* Höhe der Linie */
      background: #000; /* Farbe der Linie */
      margin-left: auto; /* Zentriert die Linie horizontal */
      margin-right: auto; /* Zentriert die Linie horizontal */
      width: calc(100% - 40px); /* Breite der Linie, wobei 40px der Gesamtabstand von beiden Seiten ist */
  }

  .year-stats {
      flex-direction: column; /* Stapelt die .stats-item-Elemente in einer Spalte */
  }

  .stats-item {
      justify-content: center; /* Zentriert die Items horizontal */
      margin: 5px; /* Verringert den Abstand zwischen den Items */

  }

  .icon {
      font-size: 2rem; /* Verkleinert die Icons für mobile Geräte */
  }

  .year, .places, .nights, .platzart {
      font-size: 1.5rem; /* Verkleinert den Text für mobile Geräte */
  }

  .icons-container {
      justify-content: center; /* Zentriert die Icons, wenn sie nebeneinander sind */
  }
}

.flag-and-number {
  display: flex; /* Flex-Container */
  align-items: center; /* Vertikale Zentrierung der Inhalte */
}

.visits {
  margin-left: 10px; /* Abstand zwischen Flagge und Text */
  font-size: 1.5rem;
  white-space: nowrap; /* Verhindert, dass die Zahl umbricht */
}

.fi {
  flex-shrink: 0; /* Verhindert, dass die Flagge skaliert */
  margin-right: 10px; /* Abstand zwischen Flagge und Zahl */
  font-size: 4em;
}




.stats-itemflag {
  display: flex; /* Flex-Container */
  align-items: center; /* Elemente vertikal zentrieren */
  margin-bottom: 10px; /* Abstand zwischen den Länderstatistiken */
}

/* Stil für den Haupt-Container */
.main-container {
  display: flex;
  flex-direction: row; /* Boxen nebeneinander anordnen */
  align-items: flex-start; /* Boxen am Anfang der Kreuzachse ausrichten */
}

/* Stil für den Container der oberen Box */
.right-box {
  flex: 2; /* Nimmt zwei Drittel der Breite ein */
  border: #000 1px solid;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

/* Stil für den Container der unteren Box */
.left-box {
  flex: 1; /* Nimmt ein Drittel der Breite ein */
  border: #000 1px solid;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.switch {                   /* Das label-Element */ 
	position: relative; /* Um im nächsten Schritt den runden Button mit position:absolute festzusetzen */ 
	width: 64px;
	height: 29px;
	display: inline-block;
}

.switch span {		    /* Der graue Untergrund des Schalters */ 
	position: absolute;
	background-color: #ccc;
	border-radius: 17px;
  height: 35px;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: background-color .4s;
}

.switch span::before {    /* Der kreisrunde Button im Switch */ 
	background-color: white;
	border-radius: 50%;
	content: "";
	position: absolute;
	left: 4px;
	bottom: 5px;
	height: 25px;
	width: 25px;
}

input:checked + span {
  background-color: darkgreen;
}

input:checked + span::before {
  transform: translateX(30px);
}

.switch input {
	display: none;
}

.switch {
	position: relative;
	display: grid;
	grid-template-columns: 85px 64px;
	grid-template-rows: 34px;
	grid-template-areas: "settings switch";
  background-color: white;
  border-radius: 10px; /* Macht die Ecken des Dropdown-Menüs rund */
  padding: 5px 10px; /* Fügt innen etwas Abstand hinzu */
  padding-right: 160px;
  font-size: 16px; /* Passt die Schriftgröße an */
  height: 45px;
  
}

.switch span {
	background-color: #ccc;
	transition: .4s;
	grid-area: switch;
}

#meinLiniendiagramm {
	background-color: #fff;
}

.leaflet-marker-icon {
  background: transparent !important;
  border: none !important; /* Entfernt den Rand */
  box-shadow: none !important; /* Entfernt eventuelle Schatten */

}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-container > div {
  flex: 1; /* Jeder Container nimmt 50% der Breite ein */
  max-width: 50%; /* Maximale Breite auf 50% begrenzen */
  height: 600px; /* Höhe auf 600px setzen */
}